body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
em,
textarea,
button,
input,
select,
figure,
figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    // font-weight: normal;
    // font-family: PingFangSC-Light, helvetica, "Heiti SC";
    box-sizing: border-box;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    &:hover {
        outline: none;
    }
}

html,
body {
    width: 100%;
    height: 100%;
}

// 禁止用户选中
// body {
//     -webkit-touch-callout: none;
//     -webkit-user-select: none;
//     -khtml-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
// }
.customWidth {
    width: 20%;
    .el-form-item__label {
        width: 90px !important;
    }
    .el-form-item__content {
        margin-left: 90px !important;
    }
    input {
        width: 100%;
    }
}

//登录框样式
.log_input .el-input {
    width: 80%;
}

.login-form-input .el-input__inner {
    border: 0 none;
    border-radius: 0px;
}

.log_input .el-form-item__error {
    top: 140%;
}

.ipfs_item_img>p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.domain_dialog .customWidth {
    width: 35%;
}

.domain_dialog .customWidth .el-form-item__content {
    margin-left: 100px !important;
}

.domain_dialog .customWidth .el-form-item__content .el-input {
    width: 100%;
}

.domain_dialog .customWidth .el-form-item__label {
    width: 100px !important;
    overflow: hidden;
}

.el-table td,
.el-table th {
    padding: 9px 0px;
    ;
}

.customWidth {
    width: 30% !important;
}

.content-container{
    background: #F9F9F9;
}

.content {
    width: auto;
    height: 100%;
    margin: 48px 0;
    border-radius: 32px;
    background: #fff;
    padding: 72px;
    .top_title{
        text-align: left;
        font-size: 18px;
        color: #333;
        .wrapperStyle{
            display: inline;
            margin-left: 54px;
            .itemStyle {
                font-weight: 500;
                display: inline;
                font-size: 16px;
                color: #666;
                margin-right: 48px;
                cursor: pointer;
            }
            .isSelected{
                color: #644CF7;
                border-bottom: 2px solid  #644CF7;
            }
        }
    }
    .seach {
        width: 100%;
        margin: 50px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        .input-with-select {
            width: 230px;
            float: left;
        }
        .seach_top_right {
            float: left;
            height: 40px;
            line-height: 40px;
            margin-left: 10px;
        }
    }
    .device_table {
        .operating{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 20px;
        }
    }
}

.device_form{
    width: auto;
    height: 100%;
    background: #fff;
    border-radius: 32px;
    padding: 62px;
    margin-bottom: 48px;
}

//旋转
.aa {
    transition: all 1s;
}

.go {
    transform: rotate(-180deg);
    transition: all 1s;
}

.domin_index .el-button {
    padding: 10px 10px;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #644CF7;
    color: #FFF;
}

//筛选按钮背景色
.seach_top_right {
    float: left;
    width: 80px;
    text-align: center;
    height: 40px;
    // margin-top: 10px;
    line-height: 40px;
    margin-left: 10px;
    color: #666666;
}

.setwhile {
    background: #ffffff;
    border: 1px solid #DCDFE6;
}

.sethui {
    background: #f2f6fa;
    border: none;
    height: 50px !important;
}

//忘记密码
.forget_from .el-form-item .el-form-item__content {
    margin-left: 0 !important;
}

//注册
.registered_from .el-form-item .el-form-item__content {
    margin-left: 0 !important;
}

//手机号登录
.phone_log .el-form-item .el-form-item__content {
    margin-left: 0 !important;
}

.el-dialog {
    padding-right: 40px;
}

.termail_con .el-dialog {
    width: 23%;
}

.batch_huan .el-dialog {
    width: 23%;
}

.copy_active2 .el-dialog {
    width: 58%;
}

.bath .is-left {
    width: 180px;
    height: 50px;
    text-align: center !important;
    font-size: 16px;
    line-height: 50px;
}

#tab-zero {
    margin-bottom: 15px;
}

.customize .el-dialog {
    width: 25%;
}

.el-input__inner {
    border-radius: 28px;
    background: #F9F9F9;
    border-color: #EEEEEE;
    outline: none;
}

.el-input__inner:focus {
    border-radius: 28px;
    background: #F9F9F9;
    border-color: #EEEEEE;
    outline: none;
}

.el-select .el-input.is-focus .el-input__inner {
    border-color: #F9F9F9;
}

.el-select .el-input__inner:focus {
    border-color: #F9F9F9;
}

.el-range-input {
    background: #F9F9F9;
}

.el-button--default {
    color: #333333;
    background-color: #F9F9F9;
    border-color: #DDDDDD;
    border-radius: 28px;
    outline: none;
}

.el-button--default:focus, .el-button--default:hover {
    color: #333333;
    background:  #F9F9F9;
    border-color: #DDDDDD;
    border-radius: 28px;
    outline: none;
}

.el-button.is-plain {
    color: #333333;
    background-color: #F9F9F9;
    border-color: #DDDDDD;
    border-radius: 28px;
    outline: none;
}

.el-button.is-plain:focus, .el-button.is-plain:hover {
    color: #333333;
    background:  #F9F9F9;
    border-color: #DDDDDD;
    border-radius: 28px;
    outline: none;
}

.el-button--text:focus, .el-button--text:hover {
    color: #644CF7;
    border-color: transparent;
    background-color: transparent;
}

.el-button--primary:focus, .el-button--primary:hover {
    color: #FFF;
    background: #644CF7;
    border-color: #644CF7;
    border-radius: 28px;
    outline: none;
}

.el-button--primary {
    color: #FFF;
    background-color: #644CF7;
    border-color: #644CF7;
    border-radius: 28px;
    outline: none;
}

.el-button--text {
    color: #644CF7;
    background: 0 0;
    padding-left: 0;
    padding-right: 0;
}

.el-tabs__header {
    margin: 30px 0 0px;
}

.el-tabs__item.is-active {
    color: #644CF7;
}

.el-tabs__item:hover {
    color: #644CF7;
    cursor: pointer;
}

.el-tabs__active-bar {
    background-color: #644CF7;
}

.el-radio__input.is-checked+.el-radio__label {
    color: #644CF7;
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: #644CF7;
    background: #644CF7;
}

.el-submenu__title i {
    color: #fff;
}
.el-submenu__title:focus, .el-submenu__title:hover {
    outline: 0;
    background-color: #5035F6;
}
.el-menu.is-active, .el-menu--inline.is-active {
    border: none;
    outline: none;
}
.el-submenu:hover,.el-submenu:focus {
    border: none;
    outline: none;
}
.el-submenu .el-menu-item{
    background: rgba(100, 76, 247, 1);
}
.el-submenu .el-menu-item:hover {
    background: #5035F6;
}
.el-submenu .el-menu-item.is-active {
    color: #fff;
    background: #5035F6 !important;
}

.el-table {
    color: #333;
    font-size: 14px;
    border-radius: 12px;
}

.el-table__header tr,
.el-table__header th {
    padding: 0;
    height: 48px;
}

.el-table--enable-row-hover .el-table__body tr:hover>td{
    background-color: #FDFBFB !important;
}

.el-table__body tr,
.el-table__body td {
    padding: 0;
    height: 48px;
}

.el-dialog {
    padding-right: 0;
    border-radius: 12px;
}

.el-dialog__headerbtn .el-dialog__close {
    color: #fff;
}

.el-dialog__header{
    background: #644CF7;
    color: #fff;
    border-radius: 12px 12px 0 0;
}

.el-dialog__header span{
    color: #fff;
}

.el-dialog__body {
    padding: 30px 40px;
}

.statistics .el-radio-group {
    background: #F9F9F9;
}

.statistics .el-radio-button .el-radio-button--medium {
    background: transparent;
}



.add_url .el-input {
    width: 300px;
}

.add_url .el-form-item {
    text-align: left;
}

.add_url .el-input__inner {
    height: 36px;
}

.add_url .other_bgc .el-input__inner {
    background-color: #F3F6FB;
    // border: none;
}

.lot_operating .lot_maintag {
    width: 180px;
}

.lot_operating .lot_subtag .el-input__inner {
    width: 130px;
    text-align: center;
}

.el-steps--simple {
    background: none;
    margin-bottom: 37px;
}

.el-tabs__content {
    overflow: initial;
}

.bath_m .el-tabs__content {
    overflow: hidden !important;
}

.bath_m .bath_demo_dynamic .el-form-item__content {
    display: flex;
}

.bath_m .bath_demo_dynamic .el-form-item__content .el-select {
    margin: 0 5px;
}

.bath_m .bath_demo_dynamic .el-form-item__content .el-input {
    margin: 0 5px;
}

.bath_m .bath_demo_dynamic .el-form-item__content .el-button {
    margin-left: 10px;
}

//下载excel模板
.simple #dwonexcel {
    // position: absolute;
    // top: 17px;
    // left: 175px;
    // width: 85px;
    // height: 34px;
    // line-height: 12px;
    // padding: 1px;
    // text-align: center;
    // border: 1px solid rgba(41, 122, 255, 1);
    // border-radius: 2px;
}

.con .el-upload-list__item {
    height: 45px;
    line-height: 45px;
    background-color: #ffebcd45;
    ;
}

.domin_index .el-button {
    padding: 10px 10px;
}

.con .el-upload-list__item:first-child {
    margin-top: 0;
}

.con .el-upload-list__item .el-icon-close {
    top: 12.5px;
    font-size: 22px;
}

.simple ul {
    width: 1166px;
    // height: 343px;
    // border: 1px solid rgba(201, 203, 208, 1);
    border-radius: 2px;
    margin-top: 18px;
    overflow-y: auto;
}

.el-input-group__append {
    background-color: #644CF7;
    color: #644CF7;
    border: 1px solid #644CF7;
}

.setpwd .el-dialog__body {
    padding-left: 40px;
}

.setpwd .el-input {
    width: 85%;
}

.setpwd .el-form-item {
    text-align: right;
}

.setpwd .el-form-item__error {
    padding-left: 80px;
}

.huancuntime .el-date-editor.el-input {
    width: 70% !important;
}

.huancunoption .el-cascader {
    width: 70%;
}

.huandan .el-radio-button__inner {
    width: 111px;
}

.el-table .cell {
    text-align: center;
}

.accelerate .el-dialog {
    width: 35%;
}

.accelerate .el-form-item__label {
    text-align: left;
}


// //滚动条的宽度
// ::-webkit-scrollbar {
//     width: 5px;
//     height: 5px;
// }
   
// //滚动条的滑块
// ::-webkit-scrollbar-thumb {
//     background-color: #a1a3a9;
//     border-radius: 2px;
// }